body {
    background-color: #5ea2a5;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    justify-content: space-around;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    color: #cbcbcb;
    text-align: center;
}

.scoreboard-content[current-play="true"] {
    border-bottom: 5px solid white;
    color: #fff;
}

.badge {
    margin-right: 20px;
}

.scoreboard-score {
    color: #fff;
    margin-bottom: 0;
}

.replay {
    visibility: hidden;
    margin-top: 40px;
    color: #fff;
    cursor: pointer;
}

.multiplayer {
  font-size: 12px;
}

.replay.show {
    visibility: visible;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    flex: 0 0 auto;
    display: flex;
}

.entry {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.entry[is-played="true"] {
    cursor: default;
}

.entry:hover:not([is-played="true"]) {
    background-color: #95bcbd;
}

.entry--highlighted span {
    color: greenyellow;
}

.row .entry {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border-bottom: 8px solid #fff;
    border-right: 8px solid #fff;
    user-select: none;
}

/* Remove right borders for the right squares of each row */
.row .entry:last-of-type {
    border-right: none;
}

/* Remove bottom borders for the bottom squares */
.row:last-of-type .entry {
    border-bottom: none;
}


.elements {
    display: none;
}

.hidden {
  display: none;
}

.option {
    font-family: 'Nunito', sans-serif;
    font-size: 100px;
    color: #fff;
    user-select: none;
}

@media(max-width: 768px) {

    .scoreboard {
        font-size: 20px;
    }

    .entry {
        width: 75px;
        height: 75px;
    }

    .option {
        font-size: 40px;
    }
}